* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

.header {

    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  

}

.banner-description {

    color: #444343;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Work Sans';
    margin-top: 24px;
    line-height: 26px;

}

.banner-title {
    font-family: 'Work Sans';
    color: #151414;
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
    height: 100vh;
    width: 90vh;
    text-align: right;
    margin-left: 50%;
    overflow: hidden;
    transform: translate(50px, 50px);
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 21px 25px 20px 26px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFFFFF;
    text-align: right;
    margin-top: 32px;
}

.container {
    display: flex;
    text-align: left;
    margin: 200px 200px;
    height: 60vh;
    align-items: center;
}

.failure {
    margin-top: 390px;
    margin-right: 294px;
    margin-bottom: 193px;
    margin-left: 115px;
}

.failure-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.failure-description {
    font-weight: 400;
    font-family: 'Work Sans';
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.check-portion {
    width: 349px;
    height: 162px;
    list-style: none;
    margin-top: 16px;
}

.my planes {
    margin-top: 130px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.section-title {

    text-align: center;
    margin-bottom: 30px;
    margin-bottom: 54px;
    margin-top: 131px;
}

.skill-container {
    display: flex;
    gap: 24px;
    transform: translate(25%, 25%);
    margin-top: 54px;

}

.skill {
    background: #FFFFFF;
    border-radius: 5px;
    width: 218px;

}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-description {
    color: #757575;

}

.border {
    border: 0px solid;
    width: 1140px;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 130px;
    border-radius: 10px;
    padding: 150px 150px;
    margin-left: auto;
    margin-right: auto;
}

.write {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 459px;
    position: absolute;
    top: 350%;
    left: 11%;
}

.btn-secondary {


    border: 0;
    padding: 21px 36px 21px;
    width: 160px;
    height: 64px;
    color: #F15B22;
    text-align: center;
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 5px;


}

.contact {
    display: flex;
    text-align: left;
    gap: 330px;
    background: #151414;
    color: #FFFFFF;
    padding: 130px 200px;
    margin-top: 130px;
}

.subs {

    border: 0;
    padding: 5px 5px;
    width: 170px;
    height: 60px;
    color: #F15B22;
    text-align: center;
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background: #FFFFFF;
    border-radius: 8px;

}
input, .emails{
    height: 50px;
    background: #151414;
    color: white;
    padding-left: 20px;
    width: 100%;
   
    border-radius: 8px;
}